# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Big files
*.pt
*.pth
processed_docs.pkl
*.pkl

# No vscode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# No big images
images/*
models/*
datasets/*
dataset/*
*.npz
*.ipynb
HW2/LSI/lsi_bow_model.index
HW2/LSI/lsi_bow_model.index.index.npy
HW2/LSI/lsi_bow_model.model
HW2/LSI/lsi_bow_model.model.projection
HW2/LSI/lsi_bow_model.model.projection.u.npy
HW2/LSI/lsi_corpus.mm
HW2/LSI/lsi_corpus.mm.index
HW2/LSI/lsi_dict.dict
HW2/LSI/lsi_tf_corpus.mm
HW2/LSI/lsi_tf_corpus.mm.index
HW2/LSI/lsi_tf_model.index
HW2/LSI/lsi_tf_model.index.index.npy
HW2/LSI/lsi_tf_model.model
HW2/LSI/lsi_tf_model.model.projection
HW2/LSI/lsi_tf_model.model.projection.u.npy
HW2/tf-idf.json
HW2/tf-idf_76-100.json
HW2/tfidf_index
HW2/LSI/lsi_bow_model10.model
HW2/LSI/lsi_bow_model10.index
HW2/LSI/lsi_bow_model10.model.projection
HW2/LSI/lsi_tf_model10.index
HW2/LSI/lsi_tf_model10.model
HW2/LSI/lsi_tf_model10.model.projection
HW2/tempemb5_200.csv
HW2/lsi_trec.txt
HW2/word2vec_trec.txt
